# Generally ignore everything
# ---------------------------
*

# But descend into directories
# ----------------------------
!*/

# Take the main repo files
# ------------------------
!LICENSE
!.gitattributes
!.gitignore
!README.md

# And recursively allow files here
# --------------------------------
!/libraries/**
!/LibExpSource/**

# But not the following
# ---------------------
*.bin
*.Bin
*.BIN
*.dat
*.Dat
*.DAT
*.exe
*.Exe
*.EXE
